@import url("footer.css");
/*separar o css de cada página, mais fácil*/



/*Ubuntu Sans*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /*reset das bordas*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

header {
    display: flex;
}

.logo-topo {
    object-fit: cover;
    padding: 30px;
}

/*NAVBAR DO MEIO*/
.nav-bar {
    display: flex;
    padding: 30px;
    justify-content: center;
    width: 65rem;
    margin-left: 15px;
}

.nav-bar ul {
    display: flex;
    gap: 140px;
    list-style: none;
    margin-top: 20px;
}

.nav-bar a {
    color: black;
    text-decoration: none;
    font-family: 'Ubuntu Sans';
    font-weight: 500;
}

.nav-bar a:hover {
    color: #656ED8;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

/*FIM*/

/*NAVBAR LOGIN*/
.navbar-login {
    display: flex;
    padding: 10px;
    justify-content: center;
    text-wrap: nowrap;
    margin-right: 15px;
}

.navbar-login a {
    color: black;
    text-decoration: none;
    font-family: 'Ubuntu Sans';
    font-weight: 500;
}

.navbar-login a:hover {
    color: #656ED8;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-login ul {
    display: flex;
    gap: 60px;
    list-style: none;
    margin-top: 39px;
}

.btn-conta {
    background-color: #656ED8;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    padding: 12px;
}

.navbar-login .btn-conta {
    color: white;
}

.navbar-login .btn-conta:hover {
    color: white;
}

/*FIM*/

/*SEÇÃO 1*/
.secao1 h1 {
    margin-left: 60px;
    margin-top: 80px;
}

.secao1 p {
    margin-left: 60px;
    margin-top: 50px;
}

.secao1 .img-amostra {
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 130px;
}

.secao2 {
    height: 575px;
    background-color: #EEEEEE;
    margin-top: 175px;
}

.secao2 h2 {
    text-align: center;
    padding-top: 30px;
}

.secao2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    margin-top: 20px;
}