/*Separar o css de cada página, mais fácil*/
@import url("header.css");
@import url("footer.css");
@import url("secoes.css");

/*Ubuntu Sans*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /*reset das bordas*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    overflow-x: hidden;
}