/*SEÇÃO 1*/
.secao1 h1 {
    margin-left: 60px;
    margin-top: 80px;
}

.secao1 p {
    margin-left: 60px;
    margin-top: 50px;
}

.secao1 .img-amostra {
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 130px;
    border-radius: 15px;
}

/*FIM*/

/*SEÇÃO2 */
.secao2 {
    height: 575px;
    background-color: #EEEEEE;
    margin-top: 175px;
}

.secao2 h2 {
    text-align: center;
    padding-top: 40px;
}

.secao2 div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 270px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
}

.secao2 .col {
    width: 300px;
    font-family: 'Ubuntu Sans';
    font-weight: 500;
}

/*FIM*/

/*SEÇÃO 3*/

.secao3 {
    justify-items: center;
    height: auto;
    margin-top: 40px;
}

#p1 {
    display: flex;
    margin-left: 750px;
    margin-top: -1.2rem;
    transition: transform 0.3s ease;
}



details {
    margin-top: 40px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 0.5em 0.5em 0;
    width: 50rem;
    cursor: pointer;
}

summary {
    display: flex;
    font-family: 'Ubuntu Sans';
    font-weight: 600;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    list-style: none;
    cursor: pointer;
}

summary p {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

details[open] {
    border: none;
    padding: 0.5em;
    transition: max-height 0.4s ease, padding 0.4s ease;
    font-weight: 400;
    background-color: #EEEEEE;
    cursor: pointer;
}

details[open] summary {
    margin-bottom: 1.5em;
}

/*FIM*/

/* RESPOSIVIDADE */

@media (max-width: 768px) {

    .secao1 {
        margin-top: -20px;
        margin-left: -20px;
        margin-bottom: -70px;
    }

    .secao2 {
        height: 1100px;
    }

    .secao3 {
        height: auto;
        padding: 0 20px;
        margin-top: 20px;
    }

    /* Zera a margem lateral que empurrava o parágrafo para fora da tela */
    #p1 {
        display: none;
        /*margin-left: 0;
        margin-top: 0;
        text-align: end; 
        margin-bottom: 80px;*/
    }


    details {
        width: 100%;
        margin-top: 20px;

    }

    /* Melhora o alinhamento do texto dentro do 'summary' em telas pequenas */
    summary p {
        margin-top: 10px;
    }


    details[open] summary {
        margin-bottom: 0.1em;
    }
}