<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão Fácil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="assets/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/cadastrocss/cadastrostyle.css">
</head>

<body>

    <div class="logo-topo">
        <img src="assets/logo.png" alt="logo">
    </div>

    <section>
        <h2>Criar sua Conta</h2>
        <h3><i class="bi bi-google"></i>Crie com o Google</h3>
        <h4>ou crie com</h4>
        <form action="#">
            <label for="email">Seu email</label>
            <input type="email" id="email" name="email">
            <label for="password">Sua senha</label>
            <input type="password" id="password" name="password">
            <button>Entrar</button>
            <p>Li e concordo com os Termos e Condições</p>
        </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>