<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão Fácil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/geralcss/style.css">
    <link rel="shortcut icon" href="assets/icon.png" type="image/x-icon">
</head>

<body>
    <header>

        <a href="geral.html"><img src="assets/logobranca.png" alt="gestao-facil"></a>

        <nav class="nav-bar">
            <ul>
                <li><a href="geral.html" th:href="@{/geral}">visão geral</a></li>
                <li><a href="historico.html" th:href="@{/historico}">histórico</a></li>
                <li><a href="graficos.html">gráficos</a></li>
                <li><a href="relatorios.html" th:href="@{/relatorios}">relátorios</a></li>
            </ul>
        </nav>

        <nav class="navbar-conta">
            <ul>
                <li><a href="#"><img src="assets/PersonCircle.png" alt="icon-pessoa"></a></li>
            </ul>
        </nav>

    </header>

    <h2 style="text-align: center; margin-top: 50px">
        Funcionalidade indisponível
    </h2>

    <!-- SCRIPT TOGGLE -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const header = document.querySelector('header');
            // Seleciona todos os elementos de navegação que devem ser parte do menu
            const navElements = document.querySelectorAll('.nav-bar, .navbar-conta');
            const menuToggleButton = document.createElement('button');

            menuToggleButton.classList.add('menu-toggle');
            menuToggleButton.innerHTML = '<span class="bar"></span><span class="bar"></span><span class="bar"></span>';

            // Adiciona o botão ao final do header
            header.appendChild(menuToggleButton);

            // Adiciona o evento de clique ao botão
            menuToggleButton.addEventListener('click', function () {
                this.classList.toggle('active');
                // Adiciona/remove a classe 'active' de todos os elementos do menu
                navElements.forEach(function (nav) {
                    nav.classList.toggle('active');
                });
            });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>