.secao1 h2 {
    margin-left: 90px;
    margin-top: 90px;
    font-size: 35px;
}

.secao1 p {
    margin-left: 30px;
    margin-top: 30px;
    font-size: large;
    font-weight: 500;
}

.secao2 {
    margin-left: 480px;
    margin-top: -150px;
}


.container {
    display: flex;      
}

.container div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 90px;
}

.secao2 .container {
    margin-left: 90px;
}



